body {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  gap: 30px; }

body.homepage {
  grid-template-rows: max-content 1fr max-content;
  gap: 0; }

.main, .homepage {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  position: relative;
  margin: 0 auto;
  max-width: 1085px;
  padding: 0 28px; }

.form .fieldset .inputWrapper input, .form .fieldset .inputWrapper textarea, .form .fieldset .buttonset input {
  font-size: .8rem;
  padding: 10px 12px;
  border: 3px solid #333333;
  border-radius: 8px;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  min-height: 80px;
  border-bottom: 2px solid #00000033; }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .logo img {
      height: 100%; }
  .header .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px; }
    .header .navbar ul li a {
      text-decoration: none;
      color: black; }
  @media only screen and (min-width: 768px) {
    .header {
      flex-direction: row; } }

.main {
  gap: 10px;
  min-height: calc(100vh - 75px - 148px); }
  .main .titleWrapper {
    flex-direction: column;
    margin-bottom: 15px;
    display: flex;
    gap: 15px; }
  .main .articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; }
    .main .articles article {
      border: 2px solid #333333;
      border-radius: 2px;
      position: relative;
      overflow: hidden; }
      .main .articles article .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s all; }
      .main .articles article .body {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 15px;
        background-color: #333333;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform: translateY(100%);
        transition: .2s all; }
        .main .articles article .body .title {
          font-weight: 400;
          font-size: 14px;
          color: white; }
        .main .articles article .body .download {
          background-color: transparent;
          position: absolute;
          cursor: pointer;
          color: white;
          height: 24px;
          bottom: 10px;
          border: none;
          width: 24px;
          right: 10px; }
          .main .articles article .body .download button {
            width: 100%; }
      .main .articles article:hover .body {
        transform: translateY(0%); }
      .main .articles article:hover .image {
        transform: scale(1.2);
        filter: blur(2px); }
    @media only screen and (min-width: 375px) {
      .main .articles {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (min-width: 768px) {
      .main .articles {
        grid-template-columns: repeat(4, 1fr); } }
  .main .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    text-align: center; }
    .main .members .member img {
      border-radius: 50%;
      object-fit: cover;
      display: block;
      height: 140px;
      width: 140px;
      margin-bottom: 10px; }
    @media only screen and (min-width: null) {
      .main .members {
        justify-content: flex-start; } }

.form h2 {
  font-size: 1.2rem;
  font-style: italic; }

.form .fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  max-width: 475px;
  gap: 15px; }
  .form .fieldset .inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px; }
    .form .fieldset .inputWrapper label {
      font-size: .95rem;
      font-style: italic; }
  .form .fieldset .firstset {
    display: flex;
    gap: 15px; }
  .form .fieldset .buttonset {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px; }
    .form .fieldset .buttonset input {
      padding: 8px 5px;
      min-width: 100px;
      background-color: #333333;
      color: white;
      width: fit-content;
      cursor: pointer; }

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333333;
  color: #fff; }
  .footer .socialbar ul {
    list-style: none;
    display: flex;
    gap: 15px; }
    .footer .socialbar ul li a {
      text-decoration: none;
      color: white; }
  @media only screen and (min-width: 768px) {
    .footer {
      flex-direction: row; } }

.homepage {
  height: 100vh;
  width: 100%;
  max-width: unset;
  margin: unset;
  padding: unset; }
  .homepage .text {
    width: fit-content;
    position: relative;
    text-align: center;
    padding-top: 80px;
    color: #fff;
    margin: 0 auto;
    z-index: 1; }
    .homepage .text h2 {
      font-style: italic; }
  .homepage .image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0; }
