body {
  display: grid;
  grid-template-rows: max-content 1fr max-content; }

.main, .homepage {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  position: relative;
  margin: 0 auto;
  max-width: 1085px;
  margin-top: 30px;
  padding: 0 28px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  min-height: 80px;
  border-bottom: 2px solid #00000033; }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .logo img {
      height: 100%; }
  .header .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px; }
    .header .navbar ul li a {
      text-decoration: none;
      color: black; }
  @media only screen and (min-width: 768px) {
    .header {
      flex-direction: row; } }

.main .titleWrapper {
  flex-direction: column;
  margin-bottom: 15px;
  display: flex;
  gap: 15px; }

.main .articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; }
  .main .articles article {
    border: 2px solid #333333;
    border-radius: 2px;
    position: relative;
    overflow: hidden; }
    .main .articles article .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .2s all; }
    .main .articles article .body {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 15px;
      background-color: #333333;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transform: translateY(100%);
      transition: .2s all; }
      .main .articles article .body .title {
        font-weight: 400;
        font-size: 14px;
        color: white; }
      .main .articles article .body .download {
        background-color: transparent;
        position: absolute;
        cursor: pointer;
        color: white;
        height: 24px;
        bottom: 10px;
        border: none;
        width: 24px;
        right: 10px; }
        .main .articles article .body .download button {
          width: 100%; }
    .main .articles article:hover .body {
      transform: translateY(0%); }
    .main .articles article:hover .image {
      transform: scale(1.2);
      filter: blur(2px); }

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333333;
  color: #fff; }
  .footer .socialbar ul {
    list-style: none;
    display: flex;
    gap: 15px; }
    .footer .socialbar ul li a {
      text-decoration: none;
      color: white; }
  @media only screen and (min-width: 768px) {
    .footer {
      flex-direction: row; } }

.homepage {
  height: calc(100vh - 88px);
  width: 100%;
  max-width: unset;
  margin: unset;
  padding: unset; }
  .homepage .text {
    width: fit-content;
    position: relative;
    text-align: center;
    padding-top: 80px;
    color: #fff;
    margin: 0 auto;
    z-index: 1; }
  .homepage .image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0; }
