$background: #333333;

$sizes: (
  mobile-md: 375px,
  tablet-sm: 768px,
);

%main-base {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  position: relative;
  margin: 0 auto;
  max-width: 1085px;
  padding: 0 28px; 
}

%input {
  font-size: .8rem;
  padding: 10px 12px;
  border: 3px solid $background;
  border-radius: 8px;
  width: 100%;
}