$sizes: (
  mobile-md: 375px,
  tablet-sm: 768px,
);

%main-base {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  position: relative;
  margin: 0 auto;
  max-width: 1085px;
  margin-top: 30px;
  padding: 0 28px; 
}