.main {
  @extend %main-base;
  min-height: calc(100vh - 75px - 148px);

  .titleWrapper {
    flex-direction: column;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
  }

  .articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    article {
      @include article;
    }

    @media only screen and (min-width: map-get($map: $sizes, $key: mobile-md)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: map-get($map: $sizes, $key: tablet-sm)) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}