.main {
  @extend %main-base;
  gap: 10px;
  min-height: calc(100vh - 75px - 148px);

  .titleWrapper {
    flex-direction: column;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
  }

  p {
    white-space: pre-line;
  }

  .articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    article {
      @include article;
    }

    @media only screen and (min-width: map-get($map: $sizes, $key: mobile-md)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: map-get($map: $sizes, $key: tablet-sm)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    text-align: center;

    .member {
      @include member;
    }

    @media only screen and (min-width: map-get($map: $sizes, $key: tablet-md)) {
      justify-content: flex-start;
    }
  }
}